.btn-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.btn {
    background-color: #68e62d;
    color: white;
    border: none;
    margin-bottom: 200px;
    
}

.container {
    display: flex;
    justify-content: space-between;
    height: 100vh;
    padding: 20px;
}

.left, .right {
    width: 45%
}

.divider {
    width: 2px;
    background-color: #ccc;
    height:100%
}

.home_btn {
    background-color: rgb(9, 16, 221);
    padding: 10px 120px;
    
}

.home_container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 250px;
    text-align: center;
}